include _includes/sharedHTMLfunctions
extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1 = pageHeader.title
                  small &nbsp;#{pageHeader.strapline}
        .row
            .col-xs-12.col-sm-8
                .row-list-group
                    each location in locations
                        .col-xs-12.list-group-item
                            h4
                                a(href="/location")= location.name
                                small &nbsp;
                                    +outputRating(location.rating)
                                span.badge.pull-right.badge-default 100m
                        p.address 125 High Street, Reading, RG6 1PS
                        p
                            each facility in location.facilities
                                span.label.label-warning= facility
                                |    &nbsp;
            .col-xs-12.col-sm-4
                p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.