//
   Created by sangeea on 12/20/16.

mixin outputRating(rating)
    - for (var i = 1; i <= rating; i++)
        span.glyphicon.glyphicon-star
    - for (var i = rating; i < 5; i++)
        span.glyphicon.glyphicon-star-empty